// app global css in SCSS form
#q-app {
  background-color: #202020;
}
.q-footer {
  background-color: #303030;
}
.q-menu {
  box-shadow: none;
  border-radius: initial;
}
.bg-drawer {
  background-color: #404040;
}